
.gh-canvas {
  display: grid;
  grid-template-columns:
    [full-start]
      minmax(calc(calc(100% - 1200px) / 2), 1fr)
        [wide-start]
          auto
            [main-start]
              720px
            [main-end]
          auto
        [wide-start]
      minmax(calc(calc(100% - 1200px) / 2), 1fr)
    [full-end]
  ;

  @media(max-width: 1296px) {
    grid-template-columns:
      [full-start]
      4vw
        [wide-start]
          auto
            [main-start]
              720px
            [main-end]
          auto
        [wide-end]
      4vw
      [full-end]
    ;
  }

  @media(max-width: 778px) {
    grid-template-columns:
      [full-start]
      4vw
        [wide-start]
          0
            [main-start]
              auto
            [main-end]
          0
        [wide-end]
      4vw
      [full-end]
    ;
  }

  > * {
    grid-column: main-start / main-end;
  }
}

.kg-width-wide {
  grid-column: wide-start / wide-end;
}

.kg-width-full {
  grid-column: full-start / full-end;
}