
.gh-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vmin 4vw;

  .gh-container {
    width: auto;
  }

  a {
    color: inherit;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style: none;
      font-size: 1.8rem;

      li {
        margin: 0 1.5vmin;
        padding: 0;
      }

      a {
        display: inline-block;
        padding: 3px 0;
        text-decoration: none;
        box-shadow: inset 0 -1px 0 0 currentcolor;
      }

      @media (max-width: 700px) {
        font-size: 1.6rem;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: right;

    &-list {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      margin: 2vmin 0 0 0;

      a {
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 10px;

        svg {
          height: 1.8rem;
          fill: currentColor;
        }

        &:lastchild svg {
          height: 2rem;
        }
      }
    }
  }

  &-meta {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    opacity: .5;
  }
}