
@import "../fonts.scss";

.gh-head {
  padding: 1vw 4vw;
  font-size: 1.8rem;
  line-height: 1.3em;
  background: inherit;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .gh-container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-flow: row dense;
  }
  
  &-brand {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    max-width: 200px;
    text-align: center;
    word-break: break-all;
    
    .gh-head-logo {
      display: block;
      padding: 10px 0;
      font-weight: 600;
      font-size: 2.6rem;
      line-height: 1.2em;
    }
  }
  
  &-menu {
    display: flex;
    align-items: center;
    
    .nav {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      
      li {
        margin: 0 1.5vw 0 0;
        padding: 0;
      }
      
      a {
        display: inline-block;
        padding: 5px 0;
        font-family: $font-sans-serif;

        &:hover {
          color: $primary-color;
        }
      }
      
      &-current {
        a {
          box-shadow: inset 0 -2px 0 0 currentColor;
        }
      }
    }
  }
  
  &-stacked {
    .gh-container {
      grid-template-columns: 1fr;
      gap: 2vmin;
    }
    
    .gh-head-brand {
      grid-column-start: 1;
      width: 100%;
      max-width: none;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    .gh-head-menu {
      justify-content: center;
      
      .nav li {
        margin: 0 0.75vw;
      }
    }
  }
}

.gh-burger {
  position: relative;
  display: none;
  cursor: pointer;
  
  &-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
  }
  
  &-inner {
    width: 100%;
    height: 100%;
  }
  
  &-box::before,
  &-inner::before,
  &-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    transition: transform 300ms cubic-bezier(.2, .6, .3, 1), width 300ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
  }
  
  &-inner::before {
    transform: translatey(-6px);
  }
  
  &-inner::after {
    transform: translatey(6px);
  }
}

body:not(.gh-head-open) .gh-burger:hover {
  .gh-burger-inner::before {
    transform: translatey(-8px);
  }
  
  .gh-burger-inner::after {
    transform: translatey(8px);
  }
}

.gh-head-open {
  .gh-burger-box::before {
    width: 0;
    transform: translatex(19px);
    transition: transform 200ms cubic-bezier(.2, .7, .3, 1), width 200ms cubic-bezier(.2, .7, .3, 1);
  }
  
  .gh-burger-inner {
    width: 26px;
    
    &::before {
      transform: translatex(6px) rotate(135deg);
    }
    
    &::after {
      transform: translatex(6px) rotate(-135deg);
    }
  }
}

@media (max-width: 900px) {
  .gh-burger {
    display: inline-block;
  }
  
  #gh-head {
    transition: all 0.4s ease-out;
    overflow: hidden;
    
    .gh {
      &-container {
        height: 100%;
        grid-template-columns: 1fr;
      }
      
      &-head {
        &-brand {
          position: relative;
          z-index: 10;
          grid-column-start: auto;
          max-width: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          user-select: none;
        }
        
        &-logo {
          font-size: 2.2rem;
          
          img {
            max-height: 40px;

            position: relative;
            left: -50px;
          }
        }
        
        &-menu {
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin: 0 0 10vh 0;
          font-weight: 300;
          font-size: 3.6rem;
          line-height: 1.1em;
          display: none;
          
          .nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            li {
              margin: 5px 0;
            }
            
            a {
              padding: 8px 0;
            }
          }
        }
      }
    }
  }
  
  
  .gh-head-open {
    overflow: hidden;
    height: 100vh;
    
    #gh-head {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 900;
      overflow-y: scroll;
      
      .gh {
        &-container {
          grid-template-rows: auto 1fr auto;
        }
        
        &-head-menu {
          display: flex;
        }
      }
    }
  }
}