
.gh-card,
.gh-post {
  &-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: .5;

    &-tags {
      opacity: 1;
      padding: 1rem 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      box-shadow: inset 0 -1px 0 0 currentColor;

      &:hover {
        box-shadow: inset 0 -2px 0 0 currentColor;
      }
    }
  }
}
