
.gh-article {
  .gh {
    &-header {
      padding: 0 0 8vmin;
      text-align: center;
    }

    &-feature-image {
      grid-column: wide-start / wide-end;
      width: 100%;
      margin: 8vmin 0 0;
    }

    &-post-footer {
      margin: 2rem 0;
    }
  }

  .kg-image-card.kg-width-full img {
    border-radius: unset;
    width: 100%;
  }
}

.gh-readmore {
  padding: 8vmin 4vw;
  font-size: 2.6rem;

  .gh-container {
    display: grid;
    gap: 8vmin;
    grid-template-columns: 1fr 1fr;
  }

  &-prev {
    justify-content: flex-end;
    text-align: right;
  }

  a {
    display: flex;
    color: currentColor;
    text-decoration: none;
  }

  h4 {
    width: 100%;
    font-size: inherit;    
  }

  svg {
    height: 1em;
    margin: auto;
  }

  svg + h4,
  h4 + svg {
    margin-left: 2vmin;
  }

  @media(max-width: 700px) {
    font-size: 1.6rem;

    svg {
      margin: 0.1em 0 0;
    }
  }
}
